@using App.Areas

<li class="nav-header">منو مدیریت کاربران</li>
<li class="nav-item">
    <a asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea" class="nav-link">
        <i class="fa fa-user mr-1" aria-hidden="true"></i>
        <p>       مدیریت کاربران</p>
    </a>

</li>
<li class="nav-item">
    <a  asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea" class="nav-link">
        <i class="fa fa-object-group mr-1" aria-hidden="true"></i>
        <p>   مدیریت نقش‌ها</p>
    </a>

</li>
<li class="nav-item">
    <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.IdentityArea" class="nav-link">
        <i class="fa fa-bell mr-1" aria-hidden="true"></i> 
        <p>      گزارش رخ‌دادها</p>
    </a>

</li>
