@using App.Areas
@{
    ViewData["Title"] = "خطا!";
    this.Context.Response.StatusCode = (int)HttpStatusCode.InternalServerError;

    if (!User.Identity.IsAuthenticated)
    {
        Layout = "_LoginRegisterLayout";
    }
}

<div class="card panel-danger mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        متاسفانه در حین پردازش درخواست جاری خطایی رخ داده‌است.


        <div align="center">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Home" asp-action="Index" asp-area="Identity" class="btn btn-warning">بازگشت به پیشخوان</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">بازگشت به صفحه اصلی</a>
            }

        </div>

        @if (User.IsInRole(ConstantRoles.Admin))
        {
            <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.IdentityArea"> مشاهده‌ی لیست خطاهای ثبت شده. </a>
        }
    </div>
</div>