@model App.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "افزودن دستگاه";
}

<div class="card">


    <form class="card-body" asp-action="Create" method="post">

        <div class="form-group row">
            <label asp-for="MacAddress" class="col-md-2 col-form-label text-md-left"></label>
            <div class="col-md-10">
                <input dir="rtl" asp-for="MacAddress" class="form-control" />
                <span asp-validation-for="MacAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Version" class="col-md-2 col-form-label text-md-left"></label>
            <div class="col-md-10">
                <input dir="rtl" asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FirmwareVersion" class="col-md-2 col-form-label text-md-left"></label>
            <div class="col-md-10">
                <input dir="rtl" asp-for="FirmwareVersion" class="form-control" />
                <span asp-validation-for="FirmwareVersion" class="text-danger"></span>
            </div>
        </div>
      
        <div class="form-group row">

            <div class="col-md-10 offset-md-2">
                <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
            </div>
        </div>
    </form>

</div>